#colFechaNac{
    background-color: darkgreen;
}
*{
    color:darkorange
}

td{

    font-family: 'Times New Roman', Times, serif;
}
.tabla1{

    margin-top: 20px;
    color:chocolate;
    background-color: goldenrod;
    border-style: groove;
    
}
.tabla2{
    margin-top: 20px;
    color:mistyrose;
    background-color: rgb(82, 78, 154);
    border-style: ridge;

}